<h3>String Interpolation</h3>
{{ stringInterpolation }} | {{numberInterpolation}}
<hr>
<h3>Data Binding</h3>
<input type="text" value="Text">
<input type="text" value="{{stringInterpolation}}">
<input type="text" [value]="stringInterpolation">
<p [ngClass] ="{blueColor: true}">This is blue text</p>
<p [ngClass] ="{blueColor: onTest()}">This is blue text</p>
<p [ngStyle] ="{color: 'pink'}">This is pink text</p>
<hr>
<h3>Custom Property Binding</h3>
Default result
<app-property-binding></app-property-binding>
Custom result
<app-property-binding [result]="10"></app-property-binding>
<hr>
<h3>Event binding</h3>
<!--<app-event-binding></app-event-binding>-->
<hr>
<app-event-binding (clicked)="onClickedButton($event)"></app-event-binding>
<h3>Two way data binding</h3>
<app-twoway-binding></app-twoway-binding>
