<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedProduct?.imagePath}}" alt="" class="img-responsive" style="max-height: 100px;max-width: 100px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedProduct?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success">To Shopping List</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedProduct?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
